<!DOCTYPE html>
<html lang="en">
<head>
    <title>ChoreHero</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/home.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

<body>

<nav class="navbar navbar-inverse">
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <div class="navbar-header">
                <button id="hamburger" style="font-size: 250%;" class="btn-transparent btn-default" type="button" onclick="toggleNav()">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
            </div>
        </div>
        <div class="col-xs-3 col-md-6">
            <h1 class="app-name no-show">ChoreHero</h1>
        </div>
        <div class="col-xs-3 col-md-1 pull-right">
            <div class="well" id="score-label">
                {{rating}}
            </div>
        </div>
        <div class="col-xs-4 col-md-4 pull-right">
            <a href="#" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Look at your rating to see how you are doing compared to your roommates! Looks like you are a {{hero_category}} now!">
                <div class="progress">
                    <div class="progress-bar" id="score-bar" role="progressbar" aria-valuenow="{{rating}}"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{rating}}%">
                    <p id="score-bar-label">{{rating}}/100 ({{hero_category}})</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</nav>

<div id="side-nav" class="sidenav">
    <div class="row">
        <h4>Hi, {{firstName}}</h4>
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    </div>
    <a href="/home"><span class="glyphicon glyphicon-home"></span>&nbsp; My Chores</a>
    <a href="/roommate_chores"><span class="glyphicon glyphicon-user"></span>&nbsp; Roommates' Chores</a>
    <a href="/scores"><span class="glyphicon glyphicon-stats"></span>&nbsp; Scores</a>
    <a href="/preferences"><span class="glyphicon glyphicon-heart"></span>&nbsp; Preferences</a>
    <a href="/settings"><span class="glyphicon glyphicon-wrench"></span>&nbsp; Settings</a>
    <div class="divider"></div>
    <form id="logout" method="post" action="/logout">
        <button type="submit" class="btn btn-default" id="logout-button" form="logout">Log Out</button>
    </form>
</div>



<div class="container-fluid text-center">
    <h1 class="text-center">My Chores</h1>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1"><hr>
        </div>
    </div>
    <div class="container-fluid">
        <h4 class="time-titles overdue-title">Overdue</h4>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 carousel-container">
                <div class="carousel">
                    {{#each overdue}}
                        <div>
                            <button type="button" class="btn btn-lg chore-buttons overdue-buttons" data-toggle="modal" data-target="#overdue_{{@index}}">
                                {{chorename}}</br>{{duedate}}
                            </button>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <h4 class="time-titles">Today</h4>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 carousel-container">
                <div class="carousel">
                    {{#each today}}
                        <div>
                            <button type="button" class="btn btn-lg chore-buttons" data-toggle="modal" data-target="#today_{{@index}}">
                                {{chorename}}</br>{{duedate}}
                            </button>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <h4 class="time-titles">Upcoming</h4>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 carousel-container">
                <div class="carousel">
                    {{#each upcoming}}
                        <div>
                            <button type="button" class="btn btn-lg chore-buttons" data-toggle="modal" data-target="#upcoming_{{@index}}">
                                {{chorename}}</br>{{duedate}}
                            </button>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <h4 class="time-titles">Completed</h4>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 carousel-container">
                <div class="carousel">
                    {{#each completed}}
                        <div>
                            <button disabled type="button" class="btn btn-lg chore-buttons" data-toggle="modal" data-target="#completed_{{@index}}">
                                {{chorename}}</br>{{duedate}}
                            </button>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/home.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
</div>

<!-- Modals -->
{{#each overdue}}
<div class="modal fade text-center" id="overdue_{{@index}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{chorename}}</h4>
            </div>
            <div class="modal-body">
                <p><b>Due Date:</b>{{duedate}}</p>
                <p>Complete now to only lose 5 points. More will be deducted if you wait!</p>
                <p>{{description}}</p>
                <form id="form_overdue_{{@index}}" method="post" action="/done_chore">
                    <input type="hidden" name="category" value="overdue" />
                    <input type="hidden" name="index" value="{{@index}}"/>
                    <input type="hidden" name="redirect" value="home"/>
                    <input type="hidden" name="user" value="current_user"/>
                    <button type="submit" class="btn btn-default" id="done-button" form="form_overdue_{{@index}}">Completed</button>
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Set Reminder</button> -->
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{#each today}}
    <div class="modal fade text-center" id="today_{{@index}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{chorename}}</h4>
                </div>
                <div class="modal-body">
                    <p><b>Due Date:</b>{{duedate}}</p>
                    <p>Complete now to earn 3 points!</p>
                    <p>{{description}}</p>
                    <form id="form_today_{{@index}}" method="post" action="/done_chore">
                        <input type="hidden" name="category" value="today" />
                        <input type="hidden" name="index" value="{{@index}}"/>
                        <input type="hidden" name="redirect" value="home"/>
                        <input type="hidden" name="user" value="current_user"/>
                        <button type="submit" class="btn btn-default" id="done-button" form="form_today_{{@index}}">Completed</button>
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Set Reminder</button> -->
                    </form>
                </div>
            </div>

        </div>
    </div>
{{/each}}
{{#each upcoming}}
    <div class="modal fade text-center" id="upcoming_{{@index}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{chorename}}</h4>
                </div>
                <div class="modal-body">
                    <p><b>Due Date:</b>{{duedate}}</p>
                    <p>{{description}}</p>
                    <form id="form_upcoming_{{@index}}" method="post" action="/done_chore">
                        <input type="hidden" name="category" value="upcoming" />
                        <input type="hidden" name="index" value="{{@index}}"/>
                        <input type="hidden" name="redirect" value="home"/>
                        <input type="hidden" name="user" value="current_user"/>
                        <button type="submit" class="btn btn-default" id="done-button" form="form_upcoming_{{@index}}">Completed</button>
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Set Reminder</button> -->
                    </form>
                </div>
            </div>

        </div>
    </div>
{{/each}}
{{#each completed}}
    <div class="modal fade text-center" id="completed_{{@index}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{chorename}}</h4>
                </div>
                <div class="modal-body">
                    <p><b>Due Date:</b>{{duedate}}</p>
                    <p>{{description}}</p>
                    <!-- <p>Complete now to earn 3 points!</p> -->
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal" id="done-button">Done</button> -->
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Set Reminder</button> -->
                </div>
            </div>

        </div>
    </div>
{{/each}}
<!-- /Modals -->

</body>
</html>
