<!DOCTYPE html>
<html lang="en">
<head>
    <title>ChoreHero</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/home.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <div class="navbar-header">
                <span class="glyphicon glyphicon-menu-hamburger" onclick="toggleNav()" id="hamburger"></span>
            </div>
        </div>
        <div class="col-xs-3 col-md-6">
            <img src="images/hero_only_logo.png" class="hero pull-left">
            <h1 class="app-name">ChoreHero</h1>
        </div>
    </div>
</nav>

<div id="side-nav" class="sidenav">
    <div class="row">
        <h4>Hi, {{firstName}}</h4>
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    </div>
    <form id="logout" method="post" action="/logout">
        <button type="submit" class="btn btn-default" id="logout-button" form="logout">Log Out</button>
    </form>
</div>



<div class="container-fluid text-center">
    <h1 class="text-center page-title">Hi, {{firstName}}</h1>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1"><hr>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h3>You don't belong to any house yet.</h3>
            <h3>Choose an option below to get started!</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#create-house"><h4>Create a House<span class="glyphicon glyphicon-menu-down" id="create-house-chevron"></span></h4></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 collapse container-fluid" id="create-house">
                <br>
                <form id="create_house_form" method="post" action="/create_home">
                    <label>House Name:</label><input type="text" name="homeName"/>
                    <br>
                    <br>
                    <div class="col">
                        <button id="create_house_button" type="submit" class="btn btn-default" form="create_house_form">Next</button>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#see-invites"><h4>House Invites<span class="glyphicon glyphicon-menu-down" id="find-house-chevron"></span></h4></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 collapse container-fluid" id="see-invites">
                <br>
                {{#if invites}}
                <p>Click an invite below to join a house</p>
                <form class="form-inline" id="accept_invite_form" method="post" action="/accept_invite">
                    {{#each invites}}
                        <button name="b_{{this}}" value="{{this}}" type="submit" class="btn btn-default" form="accept_invite_form">
                            {{this}}
                        </button>
                    {{/each}}
                </form>
                {{else}}
                <p>You have no invites!</p>
                {{/if}}
            </div>
        </div>
    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/home.js"></script>
    <script src="js/no_home.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
</div>


</body>
</html>
