<!DOCTYPE html>
<html lang="en">
<head>
    <title>ChoreHero</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/roommate_chores_B.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='css/fullcalendar.css' />
    <script src="js/roommate_chores_B.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='js/moment.min.js'></script>
    <script src='js/fullcalendar.js'></script>
    <script>

        $(document).ready(function() {

        // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                eventClick: function(calEvent, jsEvent, view) {

                    onClick();
                    var name = calEvent.title.split(':')[0];
                    var chore = calEvent.title.split(':')[1];
                    var status;
                    if (calEvent.color == 'red') {
                        status = 'Overdue';
                    } else if (calEvent.color == 'grey') {
                        status = 'Completed';
                    } else if (calEvent.color == 'blue') {
                        status = 'Today';
                    } else if (calEvent.color == 'green') {
                        status = 'Upcoming';
                    }

                    var modal = document.getElementById('myModal');
                    var span = document.getElementsByClassName("close")[0];
                    $('.modal-content h2').text(chore);
                    $('.modal-content #p1').text(name);
                    $('.modal-content #p2').text(status);
                    modal.style.display = "block";
                    span.onclick = function() {
                        modal.style.display = "none";
                    }

                },
                displayEventTime: false,
                events: [
                    {{#each users}}
                    {{#each overdue}}
                    {
                        title : '{{../firstName}} : {{chorename}}',
                        start :  '{{duedate}}',
                        color : 'red'
                        
                    },
                    {{/each}}
                    {{#each today}}
                    {
                        title : '{{../firstName}} : {{chorename}}',
                        start :  '{{duedate}}',
                        color : 'blue'
                    },
                    {{/each}}
                    {{#each upcoming}}
                    {
                        title : '{{../firstName}} : {{chorename}}',
                        start :  '{{duedate}}',
                        color : 'green'
                    },
                    {{/each}}
                    {{#each completed}}
                    {
                        title : '{{../firstName}} : {{chorename}}',
                        start :  '{{duedate}}',
                        color : 'grey'
                    },
                    {{/each}}
                    {{/each}}
                ]
            })

        });

    </script>
    
<body>

<nav class="navbar navbar-inverse">
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <div class="navbar-header">
                <span class="glyphicon glyphicon-menu-hamburger" onclick="toggleNav()" id="hamburger"></span>
            </div>
        </div>
        <div class="col-xs-3 col-md-6">
            <img src="images/hero_only.png" class="hero pull-left">
            <h1 class="app-name no-show">ChoreHero</h1>
        </div>
        <div class="col-xs-3 col-md-1 pull-right">
            <div class="well" id="score-label">
                {{rating}}
            </div>
        </div>
        <div class="col-xs-4 col-md-4 pull-right">
            <a href="#" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Look at your rating to see how you are doing compared to your roommates! Looks like you are a {{hero_category}} now!">
                <div class="progress">
                    <div class="progress-bar" id="score-bar" role="progressbar" aria-valuenow="{{rating}}"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{rating}}%">
                    <p id="score-bar-label">{{rating}}/100 ({{hero_category}})</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</nav>

<div id="side-nav" class="sidenav">
    <div class="row">
        <h4>Hi, {{firstName}}</h4>
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    </div>
    <a href="/home"><span class="glyphicon glyphicon-home"></span>&nbsp; My Chores</a>
    <a href="/roommate_chores"><span class="glyphicon glyphicon-user"></span>&nbsp; Roommates' Chores</a>
    <a href="/scores"><span class="glyphicon glyphicon-stats"></span>&nbsp; House Scores</a>
    <a href="/preferences"><span class="glyphicon glyphicon-heart"></span>&nbsp; Preferences</a>
    <a href="/settings"><span class="glyphicon glyphicon-wrench"></span>&nbsp; Settings</a>
    <div class="divider"></div>
    <form id="logout" method="post" action="/logout">
        <button type="submit" class="btn btn-default" id="logout-button" form="logout">Log Out</button>
    </form>
</div>



<div class="container-fluid text-center">

    <div class="container-fluid text-center">
    <h1 class="text-center page-title">Roommates' Chores</h1>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1"><hr>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div id='calendar'></div>
        </div>
    </div>
</div>

 <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2></h2>
    <b>Owner: </b><p id="p1"></p>
    <br>
    <b>Status: </b><p id="p2"></p>
  </div>



</div>
</div>




<script src="js/home.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script>
            // Get the modal
        var modal = document.getElementById('myModal');


        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93243125-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
