<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='142230831-0',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->
    <title>ChoreHero</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/roommate_chores.css" rel="stylesheet">
    <script src="js/roommate_chores.js"></script>
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <div class="navbar-header">
                <span class="glyphicon glyphicon-menu-hamburger" onclick="toggleNav()" id="hamburger"></span>
            </div>
        </div>
        <div class="col-xs-3 col-md-6">
            <img src="images/hero_only.png" class="hero pull-left">
            <h1 class="app-name no-show">ChoreHero</h1>
        </div>
        <div class="col-xs-3 col-md-1 pull-right">
            <div class="well" id="score-label">
                {{rating}}
            </div>
        </div>
        <div class="col-xs-4 col-md-4 pull-right">
            <a href="#" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Look at your rating to see how you are doing compared to your roommates! Looks like you are a {{hero_category}} now!">
                <div class="progress">
                    <div class="progress-bar" id="score-bar" role="progressbar" aria-valuenow="{{rating}}"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{rating}}%">
                    <p id="score-bar-label">{{rating}}/100 ({{hero_category}})</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</nav>

<div id="side-nav" class="sidenav">
    <div class="row">
        <h4>Hi, {{firstName}}</h4>
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    </div>
    <a href="/home"><span class="glyphicon glyphicon-home"></span>&nbsp; My Chores</a>
    <a href="/roommate_chores"><span class="glyphicon glyphicon-user"></span>&nbsp; Roommates' Chores</a>
    <a href="/scores"><span class="glyphicon glyphicon-stats"></span>&nbsp; House Scores</a>
    <a href="/preferences"><span class="glyphicon glyphicon-heart"></span>&nbsp; Preferences</a>
    <a href="/settings"><span class="glyphicon glyphicon-wrench"></span>&nbsp; Settings</a>
    <div class="divider"></div>
    <form id="logout" method="post" action="/logout">
        <button type="submit" class="btn btn-default" id="logout-button" form="logout">Log Out</button>
    </form>
</div>




<div class="container-fluid text-center">
    <h1 class="text-center page-title">Roommates' Chores</h1>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1"><hr>
        </div>
    </div>
    <br/>
    <div class="container-fluid">
        <h4 class="time-titles overdue-title">Overdue</h4>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 carousel-container">
                <div class="carousel">
                    {{#each users}}
                        {{#each overdue}}
                        <div>
                            <button type="button" class="btn btn-lg chore-buttons overdue-buttons" data-toggle="modal" data-target="#overdue_{{../firstName}}{{../lastName}}_{{@index}}" onclick="onClick()">
                                {{chorename}}</br>{{duedate}}</br>({{../firstName}})
                            </button>
                        </div>
                        {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>

        <h4 class="time-titles">Today</h4>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 carousel-container">
                <div class="carousel">
                    {{#each users}}
                        {{#each today}}
                        <div>
                            <button type="button" class="btn btn-lg chore-buttons" data-toggle="modal" data-target="#today_{{../firstName}}{{../lastName}}_{{@index}}" onclick="onClick()">
                                {{chorename}}</br>{{duedate}}</br>({{../firstName}})
                            </button>
                        </div>
                        {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>

        <h4 class="time-titles">Upcoming</h4>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 carousel-container">
                <div class="carousel">
                    {{#each users}}
                        {{#each upcoming}}
                        <div>
                            <button type="button" class="btn btn-lg chore-buttons" data-toggle="modal" data-target="#upcoming_{{../firstName}}{{../lastName}}_{{@index}}" onclick="onClick()">
                                {{chorename}}</br>{{duedate}}</br>({{../firstName}})
                            </button>
                        </div>
                        {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>

        <h4 class="time-titles">Completed</h4>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 carousel-container">
                <div class="carousel">
                    {{#each users}}
                        {{#each completed}}
                        <div>
                            <button type="button" class="btn btn-lg chore-buttons" data-toggle="modal" data-target="#completed_{{../firstName}}{{../lastName}}_{{@index}}" onclick="onClick()">
                                {{chorename}}</br>{{duedate}}</br>({{../firstName}})
                            </button>
                        </div>
                        {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/home.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
</div>




<!-- Modals -->
{{#each users}}
    {{#each overdue}}
    <div class="modal fade text-center" id="overdue_{{../firstName}}{{../lastName}}_{{@index}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{chorename}}</h4>
                </div>
                <div class="modal-body">
                    <p><b>Owner:</b> {{../firstName}}</p>
                    <p><b>Due Date:</b> {{duedate}}</p>
                    <p><b>Status:</b> overdue</p>
                    <p>{{description}}</p>
<!--                     <form id="form_overdue_{{@index}}" method="post" action="/done_chore">
                        <input type="hidden" name="category" value="overdue" />
                        <input type="hidden" name="index" value="{{@index}}"/>
                        <input type="hidden" name="redirect" value="home"/>
                        <input type="hidden" name="user" value="current_user"/>
                        <button type="submit" class="btn btn-default" id="done-button" form="form_overdue_{{@index}}">Completed</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Set Reminder</button>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{#each today}}
    <div class="modal fade text-center" id="today_{{../firstName}}{{../lastName}}_{{@index}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{chorename}}</h4>
                </div>
                <div class="modal-body">
                    <p><b>Owner:</b> {{../firstName}}</p>
                    <p><b>Due Date:</b> {{duedate}}</p>
                    <p><b>Status:</b> due today</p>
                    <p>{{description}}</p>
                    <!-- <form id="form_today_{{@index}}" method="post" action="/done_chore">
                        <input type="hidden" name="category" value="today" />
                        <input type="hidden" name="index" value="{{@index}}"/>
                        <input type="hidden" name="redirect" value="home"/>
                        <input type="hidden" name="user" value="current_user"/>
                        <button type="submit" class="btn btn-default" id="done-button" form="form_today_{{@index}}">Completed</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Set Reminder</button>
                    </form> -->
                </div>
            </div>

        </div>
    </div>
    {{/each}}
    {{#each upcoming}}
    <div class="modal fade text-center" id="upcoming_{{../firstName}}{{../lastName}}_{{@index}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{chorename}}</h4>
                </div>
                <div class="modal-body">
                    <p><b>Owner:</b> {{../firstName}}</p>
                    <p><b>Due Date:</b> {{duedate}}</p>
                    <p><b>Status:</b> due soon</p>
                    <p>{{description}}</p>
                    <!-- <form id="form_upcoming_{{@index}}" method="post" action="/done_chore">
                        <input type="hidden" name="category" value="upcoming" />
                        <input type="hidden" name="index" value="{{@index}}"/>
                        <input type="hidden" name="redirect" value="home"/>
                        <input type="hidden" name="user" value="current_user"/>
                        <button type="submit" class="btn btn-default" id="done-button" form="form_upcoming_{{@index}}">Completed</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Set Reminder</button>
                    </form> -->
                </div>
            </div>

        </div>
    </div>
    {{/each}}
    {{#each completed}}
    <div class="modal fade text-center" id="completed_{{../firstName}}{{../lastName}}_{{@index}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{chorename}}</h4>
                </div>
                <div class="modal-body">
                    <p><b>Owner:</b> {{../firstName}}</p>
                    <p><b>Due Date:</b> {{duedate}}</p>
                    <p><b>Status:</b> completed</p>
                    <p>{{description}}</p>
                    <!-- <p>Complete now to earn 3 points!</p> -->
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal" id="done-button">Done</button> -->
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Set Reminder</button> -->
                </div>
            </div>

        </div>
    </div>
    {{/each}}
{{/each}}
<!-- /Modals -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93243125-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
